@font-face {
  font-family: apis-regular;
  src: url("../fonts/Apis-Regular.ttf") format("truetype");
}

@font-face {
  font-family: apis-medium;
  src: url("../fonts/Apis-Medium.ttf") format("truetype");
}

@font-face {
  font-family: apis-light;
  src: url("../fonts/Apis-Light.ttf") format("truetype");
}

html body {
  margin: 0;
  font-family: apis-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.flexBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3%;
  margin-top: 15%;
  height: 100%;
  width: 100%;
}

Button {
  height: 125px;
  width: 170px;
  color: #000000;
}

.levelText{
  position: absolute;
  bottom: 50px;
  right: 30px;
}

/* All Novo Colors */
.True_Blue{
  color: #001965;
}

.White{
  color: #FFFFFF;
}

.Light_Blue{
  color: #3B97DE;
}

.Sea_Blue{
  color: #005AD2;
}

.Ocean_Green{
  color: #2A918B;
}

.Rose_Pink{
  color: #EEA7BF;
}

.Sand_Grey{
  color: #CCC5BD;
}

.Granite_Grey{
  color: #939AA7;
}
/* ---------- */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 2px solid gray;
  border-left: white;
  border-bottom: white;
  border-right: white;
}

.topRight {
  position: absolute;
  right: 30px;
  top: 80px;
}

.floatRight {
  float: right;
}

.App-header {
  background-color: #001965;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 2vh;
}

#title-container {
  width: 100%;
}

#title {
  align-self: center;
}

#refresh-button {
  width: fit-content;
  outline: none;
}

#logo {
  max-width: 8rem;
  height: auto;
  padding: 1.6rem;
  min-height: 57px;
}

#loading-spinner {
  position: fixed;
  left: 50%;
  top: 40%;
}

#loading-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #007bff26;
  z-index: 9999;
}
