@font-face {
    font-family: apis-regular;
    src: url('../assets/fonts/Apis-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: apis-medium;
    src: url("../assets/fonts/Apis-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: apis-light;
    src: url("../assets/fonts/Apis-Light.ttf") format("truetype");
  }