* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: apis-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: apis-regular;
  src: url("../assets/fonts/Apis-Regular.ttf") format("truetype");
}

@font-face {
  font-family: apis-medium;
  src: url("../assets/fonts/Apis-Medium.ttf") format("truetype");
}

@font-face {
  font-family: apis-light;
  src: url("../assets/fonts/Apis-Light.ttf") format("truetype");
}

.App .header {
  z-index: 1000;
  padding: 0 2rem;
  background-color: #001965;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.App .header .main-nav {
  width: 100%;
}

.App .header .main-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .header .main-nav ul h1 {
  color: white;
}

.App .header .main-nav ul img {
  height: calc(10vh / 1.5);
}

.App .footer {
  z-index: 999;
  background: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4vh;
  border-top: 2px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .footer .footer-nav {
  width: 100%;
  padding: 0 2rem;
}

.App .footer .footer-nav p {
  color: black;
}

.App .search-button {
  z-index: 100;
  position: absolute;
  padding: 0 2rem;
  right: 0;
  top: calc(10vh + 1rem);
}

.App .search-button img {
  height: 2rem;
  cursor: pointer;
}

.department-button {
  margin: 1rem;
  padding: 1rem;
  height: 7.5rem;
  width: 15rem;
  background-color: #1170ff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.department-button:hover {
  background-color: #001965;
}

.department-button h1 {
  text-align: center;
  color: white;
  font-size: 24px;
}

.team-button {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-button h1, .team-button p {
  text-align: center;
  color: black;
  z-index: 10;
}

.anchor-point {
  height: .25rem;
  width: .25rem;
  border-radius: 50%;
  background: black;
}

#root {
  background-color: #f2f2f2;
  height: 100vh;
}

#root .App {
  height: 100%;
  background-color: #f2f2f2;
}

#root .App .department-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - (14vh));
}

.App .component-teamsview {
  height: calc(100vh - (14vh));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .component-teamsview .team-method-components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 10;
}

.App .component-teamsview .team-method-components div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .component-teamsview .team-method-components div .anchor-point {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.App .component-teamsview .department-main {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15rem;
}
/*# sourceMappingURL=main.css.map */